<div class="image" >
  {{ if .Page.Scratch.Get "ImageCounter" }}
  {{ $.Page.Scratch.Set "ImageCounter" (add ($.Page.Scratch.Get "ImageCounter") 1) }}
  {{ else }}
  {{ $.Page.Scratch.Set "ImageCounter" 1 }}
  {{ end }}


  {{ if .Get "width" }}
  {{ $.Scratch.Set "width" (.Get "width") }}
  {{ else }}
  {{ $.Scratch.Set "width" "100%" }}
  {{ end }}

  {{ if .Get "height" }}
  {{ $.Scratch.Set "height" (.Get "height") }}
  {{ else }}
  {{ $.Scratch.Set "height" "100%" }}
  {{ end }}

  {{ if .Get "alt" }}
  {{ $.Scratch.Set "alt" (.Get "alt") }}
  {{ else }}
  {{ $.Scratch.Set "alt" "No Alternative Text" }}
  {{ end }}


  <figure class="image" id="{{.Get "label"}}">
    {{ if .Get "label" }}
    <div class="fakelabel">
      \begin{align}
      faketext
      {{ print "\\label{" (.Get "label" ) "}" }}
      \tag{ {{$.Page.Scratch.Get "ImageCounter"}} }
      \end{align}
    </div>
  {{ end }}



  <img src="{{trim .Inner "\n"}}"
       alt="{{ .Scratch.Get "alt"}}"
       style="max-width:{{ .Scratch.Get "width"}};max-height:{{ .Scratch.Get "height"}}"
       >

   {{ if .Get "caption" }}
   <figcaption>
     <a href="#{{.Get "label"}}">
       <b> Image {{$.Page.Scratch.Get "ImageCounter"}}.</b>
       {{ .Get "caption" }}
     </a>
   </figcaption>
   {{ end }}

  </figure>
</div>
