{{$firstAuthor := index (.Param "authors") 0 }}
<p class="page-author"  >
Written by
{{ range .Param "authors" }}
  {{ $name := . }}
  {{ $path := printf "/%s/%s" "members" ($name | urlize) }}
  {{ if not (eq $firstAuthor .)  }}
    {{ print "," }}
  {{ end }}
  <a href="{{ $path }}">{{ $name }}</a>
{{ end }}
</p>

