<table>
  {{ range .Pages.ByDate}}
  <tr>
    <th style="text-align:left;">
      <b>{{ .Lastmod.Format "January 2, 2006" }} &nbsp; </b>
    </th>
    <th style="text-align:left;">
      <a href="{{ .Permalink }}">
        {{ .Title }}
      </a>
    </th>
  </tr>
  {{ if .Pages }}
  {{ partial "chronwalk.html" . }}
  {{ end }}
  {{ end }}
</table>
