<div class="banner fixed-top"></div>

<div class="navbar screen-only">
  <a href="/" class="logo">{{ .Site.Title }}</a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
  <ul class="menu" >
    {{ range .Site.Menus.main }}
    <li>
      <a
         class="nav-link {{ with .Params.class }}{{ . }}{{ end }}"
         href="{{ .URL }}"
         onclick="(function(){document.getElementById('menu-btn').checked = false;})()"
         >
         {{ $text := print .Name | safeHTML }}
         {{ $text }}
      </a></li>
    {{ end }}
  </ul>
</div>


<div class="article-titlepage print-only">
  {{- partial "print.license.html" . -}}
  <p class="website-title" >
  <a href="/"  >{{ .Site.Title }}</a>
  </p>
  <p class="page-title" >
  <a href="/">{{ .Page.Title }}</a>
  </p>
  {{- if .Param "authors" }}
  {{- partial "authors.html" . -}}
  {{ end }}
  {{- if .Param "timestamp" }}
  {{- partial "timestamp.html" . -}}
  {{- end }}
</div>


