<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ $CSS := resources.Match "css/**.css" | resources.Concat "main.css" }}
  <link rel="stylesheet" type="text/css" href="{{ $CSS.RelPermalink }}">
  {{ range .Site.Params.custom_css -}}
  <link rel="stylesheet" href="{{ . | absURL }}">
  {{- end }}
  {{ partial "mathjax.html" . }}
  {{ $title := print .Site.Title " | " .Title }}
  <title>{{ $title }}</title>
  <meta name="description" content="{{ $title }}">
  <script id="silari.heading.autolink" async src="/js/heading.link.js">
  </script>
</head>
