<script src="/js/polyfill.min.js?features=es6" async>
</script>

<script id="MathJax-script" async src="/js/mathjax/vendor/tex-mml-chtml.js"></script>

<script id="silari.mathjax" async src="/js/mathjax.js"> </script>
{{ if isset .Params "mathjax" }}
<script id="silari.mathjax.custom.profile" async src="/js/mathjax/profile/{{.Params.mathjax}}.js"> </script>
{{ else }}
<script id="silari.mathjax.default.profile" async src="/js/mathjax/profile/default.js"> </script>
{{ end }}
