<table>
  {{ range .Pages.ByLastmod.Reverse  }}
  {{ $ageDays := div (sub now.Unix .Lastmod.Unix) 86400 }}
  {{ if le $ageDays 31 }}
  {{ if eq .Layout "article" }}
  <tr>
    <th style="text-align:left;">
      <b>{{ .Lastmod.Format "January 2, 2006" }} &nbsp; </b>
    </th>
    <th style="text-align:left;">
      <a href="{{ .Permalink }}">
        {{ .Title }}
      </a>
    </th>
  </tr>
  {{ end }}
  {{ end }}
  {{ end }}
</table>
