<div class="toc desktop-only {{- if .Param "autonumbering" }} autonumbering{{- end }}"  >
  <h3 style="padding-left:3em"> Table of Contents </h3>
  {{ replace .TableOfContents "TableOfContents"  "TableOfContentsDesktop" | safeHTML }}
</div>

<div class="toc print-only {{- if .Param "autonumbering" }} autonumbering{{- end }}" >
  <h2 style="text-align:center"> Table of Contents </h2>
  {{ replace .TableOfContents "TableOfContents"  "TableOfContentsPrint" | safeHTML }}
</div>


<div class="toc mobile-only {{- if .Param "autonumbering" }} autonumbering{{- end }}">
  <input id="toccheck" class="toccheck" type="checkbox">
  <label for="toccheck" class="tocbutton">Table of Contents <span class="tocicon">▼</span></label>
  <div class="toc-content" onclick="(function(){document.getElementById('toccheck').checked = false;})()">
    {{ .TableOfContents }}
  </div>

</div>
