{{ define "main" }}
<div id="article-title" class="screen-only">
<a class="page-title" href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
{{- if .Param "authors" }}
{{- partial "authors.html" . -}}
{{ end }}
{{- if .Param "timestamp" }}
{{- partial "timestamp.html" . -}}
{{- end }}
</div>
{{ .Content }}
{{ end }}

