@media only print {
  .screen-only {
    display: none;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: none;
  }


  html, body {
    width: 210mm;
    height: 297mm;
    margin: 5mm 5mm 15mm 15mm;
  }

  div {
    break-inside: avoid;
  }


  .screen-only {
    display: none;
  }

  .article-titlepage {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }

  .website-title {
    text-decoration: none;
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0px 0 0 0;
  }

  .page-title{
    text-decoration: none;
    font-size: 2em;
    line-height: 2em;
    margin: 0 0 0 0;
  }

  .page-author {
    margin: 0.5ex;
    margin-bottom: 1ex;
    font-size: 1.5em;
    text-align: center;
  }

}

