@media only screen {
  .print-only {
  }

  .banner {
    border-top: 0.25ex solid;
    border-image-source: linear-gradient(90deg, #dde8f0,  #dde8f0);
    border-image-slice: 1;
  }

  body{
    margin: 0px;
    padding: 0;
    color: #202020;
    line-height: 3ex;
    font-size: 1.1em;
    font-family: Roboto;
  }

  #article-title{
    padding-bottom: 3ex;
  }
}


