@media only screen and (min-width: 960px) {
  .encloseimage{
    display:table-cell;
  }

  .encloseimage .image {
    display: table-cell;
    width:20%;
  }

  .encloseimage .text {
    display: table-cell;
    vertical-align: top;
    padding-left:3em;
  }

}


@media only screen and (max-width: 960px) {
  .encloseimage{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin:auto;
  }

  .encloseimage .image {
    text-align: center;
    width:40%;
    margin:auto;
  }

  .encloseimage .text {
    vertical-align: top;
    text-align: justify;
  }


}


@media only print {
  .encloseimage{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin:auto;
  }

  .encloseimage .image {
    text-align: center;
    width:40%;
    margin:auto;
  }

  .encloseimage .text {
    vertical-align: top;
    text-align: justify;
  }


}
